main {
    min-height: 80vh;
}

h3 {
    padding: 16px 0;
}

.rating {
    width: max-content;
}

.rating span {
    margin: 2px;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}